<form method='POST' action='/data'>
    <label for='item'>What do you want to remember Jon Snow? :</label>
    <input type='text' name='item' placeholder='I need to remember...' />
    <input type='submit'value='For the King!'>
</form>